@font-face {
    font-family: medium;
    src: url("./assets/fonts/medium.otf") format("opentype");
}

* {
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#root {
    overflow: hidden;
}

.row {
    margin: 0 !important;
}

.Heading-Page {
    font-size: 3.5rem;
}

.content {
    margin-bottom: 10vh;
}