* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    overflow: hidden;
    /* background: rgb(166, 193, 238); */
}

.row {
    margin: 0;
}

.Main-Bc {
    background-color: #a6c1ee;
}


.First-Bc {
    background: rgb(166, 193, 238);
}

.Heading-Page {
    font-size: 3.5rem;
}