.main {
    display: grid;
    place-items: center;
    width: 190px;
    height: 254px;
  }
  
  .card {
    width: 190px;
    height: 254px;
    background: #FAF1F6;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-avatar {
    background: radial-gradient(#A8A6B6,#B3B1BF,#BDBBC7,#C5C4CE,#E2E2E7);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform .2s ease;
  }
  
  .card-avatar svg {
    padding-top: 5px;
    height: 80px;
    width: 100px;
    fill: #515F65;
  }
  
  .card-social {
    display: flex;
    justify-content: space-around;
    width: 190px;
    margin-top: 10%;
    text-align: center;
  }
  
  .card-social-icon {
    list-style: none;
    color: #515F65;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-social-icon svg {
    display: block;
    height: 20px;
    width: 20px;
    fill: #515F65;
    cursor: pointer;
  }
  
  .card-title {
    color: #1b1b1b;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 5px;
  }
  
  .card-subtitle {
    color: #7e93a0;
    font-size: 1.0em;
  }
  
  .address-icon {
    fill: #515F65;
    height: 150px;
    width: 100px;
    list-style: none;
    justify-content: space-around;
  }
  
  .address-title {
    color: #333;
    font-size: 1.0em;
    font-weight: 600;
    list-style: none;
  }
  
  .address {
    color: #859ba8;
    font-size: 0.8em;
    list-style: none;
    padding-left: 20px;
    ;
  }
  
  .contact-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 45%;
    padding-bottom: 5px;
  }
  
  .card-contact {
    color: #859ba8;
    font-size: 0.8em;
  }
  
  .icon-contact {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .icon-contact svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    padding-right: 5px;
  }
  
  .card:hover {
    box-shadow: 0 10px 50px #23232333;
  }
  
  .card:hover .card-info {
    transform: translateY(-5%);
  }
  
  .card-avatar:hover {
    transform: scale(1.1);
  }
  
  #cs1:hover {
    transform: scale(2.0);
  }
  
  #cs2:hover {
    transform: scale(2.0);
  }
  
  #cs3:hover {
    transform: scale(2.0);
  }
  
  .main:hover #c1 {
    transform: translateX(0px);
  }
  
  .main:hover #c2 {
    transform: translateX(200px);
  }
  
  .main:hover #c3 {
    transform: translateX(-200px);
  }