/* Hero About Section */
.about-main-section {
  max-width: 1780px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.6rem;
  align-items: center;
  margin: 0 auto;
}

#propmpt {
  height: 500px;
}

.content-left {
  text-align: center;
  animation: slideFromLeft 1s ease forwards;
  opacity: 0;
}

@keyframes slideFromLeft {

  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

.section-label {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about-section-title {
  font-size: 2.3rem;
  padding: 1.1rem;
  color: var(--text-color);
}

.about-section-description {
  color: var(--gray);
  font-size: 1.13rem;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:768px) {
  .about-main-section {
    flex-direction: row;
  }

  .content-left {
    max-width: 50%;
    text-align: left;
  }

  .about-section-title {
    padding-left: 0;
  }

  .section_label {
    font-size: 1rem;
  }

  .about-section-title {
    font-size: 3.8rem;
  }

  .about-section-description {
    font-size: 1.1rem;
    color: var(--gray);
    width: 78%;
  }
}

/* About Hero Image */
/*works janky on mobile :<*/
.about-right-page .container {
  position: relative;
  width: 500px;
  min-height: 254px;
  transition: 200ms;
}

.about-right-page .container:active {
  width: 500px;
  min-height: 245px;
}

.about-right-page #card {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
}

.about-right-page .tracker:hover~#card .title {
  opacity: 0;
}

.about-right-page #prompt {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 50px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  max-width: 1000px;
}

.about-right-page .tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.about-right-page .tracker:hover {
  cursor: pointer;
}

.about-right-page .tracker:hover~#card #prompt {
  opacity: 0;
}

.about-right-page .tracker:hover~#card {
  transition: 300ms;
  filter: brightness(1.1);
}

.about-right-page .container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.about-right-page .canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

.about-right-page #card::before {
  content: "";
  opacity: 0%;
  width: 105%;
  height: 105%;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover~#card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.team-box:hover {
  transform: scale(1.2);
}

.team-box h3 {
  margin-top: 10px;
}

.container-bx {
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  text-align: center;
}

.about-gif img {
  width: 200px;
  height: auto;
  border-radius: 17px;
}

/* Our Team */
.team-container {
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.team-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.team-title {
  font-size: 1.875rem;
  font-weight: bold;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2.5rem;
}

.team-card {
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(171, 163, 163);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  gap: 10px;
  transition: 0.2s ease-in-out, box-shadow 0.2s ease;
}

.team-card:hover {
  color: blue;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rbga(0, 0, 0, 0.2);
  outline: 2px solid rgb(58, 177, 220);
}

.team-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-avatar img {
  height: 7rem;
  width: 7rem;
  background: white;
  border-radius: 50%;
  outline: 2px solid black;
}

.team-text {
  color: #555;
  font-size: 0.875rem;
}

.team-name {
  font-size: 1.15rem;
  font-weight: 700;
}

.team-desc {
  font-size: 0.875rem;
  color: #777;
}

.list-inline-item {
  font-size: x-large;
}

.team-links ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team-links ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8 4px solid;
}

/* Visitors */

.counter {
  /* font-family: 'Open Sans', sans-sericolor: #f27f21; */
  height: 300px;
  text-align: center;
  width: 300px;
  padding: 45px 45px 45px;
  margin: 0 auto;
  border: 3px solid #f27f21;
  border-radius: 20px 20px;
  position: relative;
  z-index: 1;
}

.counter:before,
.counter:after {
  content: "";
  border-radius: 20px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  z-index: -1;
}

.counter:after {
  background: transparent;
  width: 200px;
  height: 200px;
  border: 15px solid #f27f21;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 20px;
  box-shadow: none;
  top: auto;
  left: -10px;
  bottom: -10px;
  right: auto;
}

.counter .counter-icon {
  font-size: 35px;
  line-height: 35px;
  margin: 0 0 15px;
  transition: all 0.3s ease 0s;
}

.counter:hover .counter-icon {
  transform: rotateY(360deg);
}

.counter .counter-value {
  color: #555;
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 20px;
  display: block;
  transition: all 0.3s ease 0s;
}

.counter:hover .counter-value {
  text-shadow: 2px 2px 0 #1b1b1c;
}

.counter h3 {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.counter.blue {
  color: #4accdb;
  border-color: #4accdb;
}

.counter.blue:after {
  border-bottom-color: #4accdb;
  border-left-color: #4accdb;
}

.visitors-container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.visitors-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:990px) {
  .counter {
    margin-bottom: 40px;
  }
}

/* FAQ */
.faq-section .container {
  min-width: 100vw;
  padding: 2rem;
}

.faq-section {
  min-height: 55vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the accordion body */
.accordion-body {
  background-color: #fff;
  border-radius: 5px;
  outline: 1px solid #ced4da;
  color: #1000ff;
  padding: 10px 15px;
  margin-top: 5px;
}

/* Style for the accordion items */
.accordion-item {
  margin-bottom: 10px;
  background-color: transparent;
}

/* Style for the accordion buttons */
.accordion-button {
  background-color: rgb(250, 251, 253);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-button:hover {
  background-color: #e9ecef;
}

.accordion-container {
  max-width: 100%;
  display: flex;
}