.rating-container {
  display: flex;
  justify-content: center;
  /* Add space between rating buttons */
  gap: 10px;
}

.star {
  background-color: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
  /* Smooth transition for color change */
  transition: color 0.3s ease;
}

.star:hover,
.star.active {
  /* Change color to gold on hover and when active */
  color: gold;
}

.feedback-main-box {
  margin-top: 100px;
  margin-bottom: 40px;
}

.feedback-container {
  /* Add border to the container */
  border: 2px solid #ccc;
  /* Add padding to the container */
  padding: 20px;
  /* Add border radius for rounded corners */
  border-radius: 8px;
}

.form-label {
  /* Make form labels bold */
  font-weight: bold;
}