
/* --------------------------------------------- code of conduct----------------------------------------------- */

.lists {
  padding: 5px;
  margin-top: 2rem;
}

.num {
  position: absolute;
  top: 19pc;
  border-radius: 35%;
  left: 12.2pc;
}

.cont-box {
  border-radius: 25px;
  background-image: linear-gradient(135deg, #da8025 0%, #d65c2f 100%);
}

.cont-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(232, 161, 135);

}

/* ---------------------------------Contact-us----------------------------------------------------- */
.header {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20pc;
  background-image: linear-gradient(120deg, #bfbdbd 0%, #e0eaef 100%);
}

.image-bx {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
}

.share-btn {
  width: 40px;
  height: 30px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: rgb(239, 239, 239);
}

.cnt,
.box {
  width: 100%;
  max-width: 680px;
  margin: 10px auto;
}

.box .list {
  position: relative;
  width: 100%;
  height: 69vh;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
  /* box-shadow: 2px 5px rgba(7, 6, 6, 0.2); */
}

.end {
  display: flex;
  margin-top: 12px;
  height: 47px;
  justify-content: center;
  border-radius: 29px;
  background-color: aliceblue;
  cursor: auto;
}

.end:hover {
  box-shadow: 0 2px 5px rgba(7, 6, 6, 0.8);
}

.end a i {
  margin: 12px 0 0 0;
  padding: 2px;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .navbar {
    text-align: center;
  }
}

.Tree-bx {
  background-color: #b6c9dc;
}

.Tree-bx:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.name {
  color: black;
  margin: 28px, 18px;
}

@media (max-width: 1500px) {}

.Contact-Us-Card-Sec {
  height: 110vh;
  position: relative;
  justify-content: center; 
  align-items: center; 
}

.main_back {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  transform: rotate(90deg);
  width: 17rem;
  height: 17rem;
  background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 55rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: -1;
  
}
.main:hover {
  width: 55rem;
  cursor: pointer;
}

.main:hover .card {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: .3em;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(5, 8, 12, 0.35) 0px -2px 6px 0px inset;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.card {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  background: lightgrey;
  transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
  background: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* box-shadow: rgba(13, 13, 15, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(5, 8, 12, 0.35) 0px -2px 6px 0px inset; */
}
.main:hover .main_back {
  opacity: 0;
}

.card .instagram {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #cc39a4;
}

.card:nth-child(2) {
  border-radius: 0px;
}

.card:nth-child(2) .twitter {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #03A9F4;
}

.card:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(3) .dribble {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #ffb5d2;
}

.card:nth-child(4) {
  border-radius: 0px;
}

.card:nth-child(4) .github {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: black;
}

.card:nth-child(5) {
  border-radius: 0px;
}

.card:nth-child(5) .uiverse {
  position: absolute;
  margin-left: 0.2em;
  margin-top: 0.2em;
  opacity: 0;
  transition: .2s ease-in-out;
}

.card:nth-child(6) {
  border-radius: 0px;
}

.card:nth-child(6) .discord {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #8c9eff;
}

.card:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(7) .github {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: black;
}

.card:nth-child(8) {
  border-radius: 0px;
}

.card:nth-child(8) .telegram {
  opacity: 0;
  transition: .2s ease-in-out;
  fill: #29b6f6;
}

.card:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(9) .reddit {
  opacity: 0;
  transition: .2s ease-in-out;
}


.main:hover .card:nth-child(5) {
  border: transparent;
}

.main:hover .text {
  opacity: 0;
  z-index: -3;
}

.main:hover .instagram {
  opacity: 1;
}

.main:hover .twitter {
  opacity: 1;
}

.main:hover .dribble {
  opacity: 1;
}

.main:hover .codepen {
  opacity: 1;
}

.main:hover .uiverse {
  opacity: 1;
}

.main:hover .discord {
  opacity: 1;
}

.main:hover .github {
  opacity: 1;
}

.main:hover .telegram {
  opacity: 1;
}

.main:hover .reddit {
  opacity: 1;
}

.card:nth-child(1):hover {
  background-color: #cc39a4;
}

.card:nth-child(1):hover .instagram {
  fill: white;
}

.card:nth-child(2):hover {
  background-color: #03A9F4;
}

.card:nth-child(2):hover .twitter {
  fill: white;
}

.card:nth-child(3):hover {
  background-color: #ffb5d2;
}

.card:nth-child(3):hover .dribble {
  fill: white;
}

.card:nth-child(4):hover {
  background-color: #1E1F26;
}

.card:nth-child(4):hover .codepen {
  fill: white;
}

.card:nth-child(5):hover {
  animation: backgroundIMG .1s;
  animation-fill-mode: forwards;
}

.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
  stop-color: white;
}

@keyframes backgroundIMG {
  100% {
    background-image: linear-gradient(#BF66FF 40%, #6248FF 30%, #00DDEB 30%);
  }
}

.card:nth-child(6):hover {
  background-color: #8c9eff;
}

.card:nth-child(6):hover .discord {
  fill: white;
}

.card:nth-child(7):hover {
  background-color: black;
}

.card:nth-child(7):hover .github {
  fill: white;
}

.card:nth-child(8):hover {
  background-color: #29b6f6;
}

.card:nth-child(8):hover .telegram>path:nth-of-type(1) {
  fill: white;
}

.card:nth-child(8):hover .telegram>path:nth-of-type(2) {
  fill: #29b6f6;
}

.card:nth-child(8):hover .telegram>path:nth-of-type(3) {
  fill: #29b6f6;
}

.card:nth-child(9):hover {
  background-color: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit>g circle {
  fill: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit>g path {
  fill: white;
}

.Text {
  position: absolute;
  font-size: 0.7em;
  transition: .4s ease-in-out;
  color: black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.33em;
  z-index: 3;
}


@media (max-width: 2500px) {
  .box {
    display: none;
  }
}
/* @media (max-width: 1700px) {
  .Contact-Us-Card-Sec {
    display: none;
  }
} */