/* --------------------------------------------- code of conduct----------------------------------------------- */

.lists {
  padding: 5px;
  margin-top: 2rem;
}

.num {
  position: absolute;
  top: 19pc;
  border-radius: 35%;
  left: 12.2pc;
}

.cont-box {
  border-radius: 25px;
  margin: 0.5rem;
  border: 2px solid grey;
}

/* ---------------------------------Contact-us----------------------------------------------------- */
