/* Code of Conduct */
.codeofconduct-container {
  margin-top: 100px;
  margin-bottom: 40px;
}

.lists {
  padding: 5px;
  margin-top: 2rem;
}

.num {
  position: absolute;
  top: 19pc;
  border-radius: 35%;
  left: 12.2pc;
}

.cont-box {
  border-radius: 25px;
  margin: 0.5rem;
  border: 2px solid grey;
}

/* Contact Us */
.contactus-container {
  margin-top: 100px;
  margin-bottom: 40px;
}

.contactus-main-box {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20pc;
  background-image: linear-gradient(120deg, #bfbdbd 0%, #e0eaef 100%);
}

.image-bx {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
}

.share-btn {
  width: 40px;
  height: 30px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: rgb(239, 239, 239);
}

.cnt,
.box {
  width: 100%;
  max-width: 680px;
  margin: 10px auto;
}

.box .list {
  position: relative;
  width: 100%;
  height: 69vh;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
}

.end {
  display: flex;
  margin-top: 12px;
  height: 47px;
  justify-content: center;
  border-radius: 29px;
  background-color: aliceblue;
  cursor: auto;
}

/* Privacy Policy */
.privacy-policy-container {
  margin-top: 100px;
  margin-bottom: 40px;
}

.paragraph {
  margin-bottom: 50px;
}

.shareInfo {
  margin-top: 50px;
}

.subpara {
  margin-left: 50px;
}

.list-n-1 {
  margin-left: 30px;
}

.privacy-policy-container {
  padding-left: 15%;
  padding-right: 15%;
}

/* Term of Use */
.container-T {
  border-radius: 4px;
  padding: 0 5%;
}

.name-term {
  padding-top: 25px;
}

.container-T strong {
  font-size: 20px;
}

.container-T p {
  font-size: 19px;
  margin-left: 15%;
  margin-right: 15%;
}