
.user-details {
  display: flex;
}

.detail-right {
  flex: 1;
  background-color: #f6f4f4;
}

.detail-left{
  background-color: #dcddd1;
  padding: 20px;

}

.right {
  padding: 20px;
  color: #fff;
  flex: 1;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.links {
  margin-top: 20px;
}

.links a {
  color: #000; 
}

.skills {
  margin-top: 20px;
}

.skills ul {
  list-style-type: none; 
  padding: 0;
}

.skills li {
  margin-bottom: 5px;
}

.experience {
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.projects {
  margin-top: 20px;
}

.project {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 19rem;
  height: 26rem;
}