@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

/* title heading change */
#navbar {
  z-index: 1000;
  min-height: 10vh;
  background: #ffffff;
  /* Set the background to white */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  /* Black shadow */
  border-bottom: none;
  /* Remove the bottom line */
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.bitbox-title {
  color: #fff;
  font-size: clamp(1rem, 6vw, 4rem);
  font-size: clamp(0.8rem, 4vw, 3rem);
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.bitbox-title span {
  position: relative;
  display: inline-block;
}

.bitbox-title span:before,
.bitbox-title span:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 80%;
  color: #4af7ff;
  animation: glitch-animation 2s infinite linear alternate-reverse;
}

.bitbox-title span:before {
  left: 2px;
  text-shadow: -2px 0 #41537e;
}

.bitbox-title span:after {
  left: -2px;
  text-shadow: 2px 0 #4e535f;
}

.bitbox-title span:nth-child(1),
.bitbox-title span:nth-child(4) {
  text-transform: uppercase;
}

.bitbox-title span:nth-child(2),
.bitbox-title span:nth-child(3),
.bitbox-title span:nth-child(5),
.bitbox-title span:nth-child(6) {
  text-transform: lowercase;
}

@keyframes glitch-animation {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(2px, -2px);
  }

  50% {
    transform: translate(-2px, 2px);
  }

  75% {
    transform: translate(2px, 0);
  }

  100% {
    transform: translate(-2px, -2px);
  }
}

/* navbaar css start */
#navbar {
  overflow: initial;
  z-index: 1000;
  min-height: 10vh;
}

.logoTitle {
  font-family: 'medium';
  font-weight: lighter;
}

.mx-3 {
  border-radius: 50%;
}

#navbar ul li {
  margin-bottom: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  min-width: 9rem;
  left: -50px;
  text-align: center;
}

.profile-img img {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  outline: 2px solid black;
  background: white;
}

.uploadPro {
  border: 1px solid black;
  color: white;
  border-radius: 5px;
}

.uploadPro:hover {
  color: black;
}

.Navbar-Btn-Group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -1.5rem;
}

.Navbar-Btn-Group a {
  text-decoration: none;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}

/* Dark Mode Toggle Button */
.darkThemeBtn * {
  transition: all 0.3s;
}

.darkThemeBtn input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkThemeBtn label {
  /* border: 1px solid rgb(119, 119, 123); */
  background: #c6cace;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.darkThemeBtn label:active {
  border-radius: 5px;
}

.darkThemeBtn label svg {
  position: absolute;
  width: 16px;
  transition: 0.3s;
  z-index: 1;
  fill: white;
}

.darkThemeBtn label svg.sun {
  width: 20px;
  opacity: 1;
  fill: rgb(248, 248, 254);
}

.darkThemeBtn label svg.moon {
  opacity: 0;
}

.darkThemeBtn input:checked+label {
  border: 1px solid white;
  background: #c6cace;
}

.darkThemeBtn input:checked+label svg.sun {
  opacity: 0;
}

.darkThemeBtn input:checked+label svg.moon {
  opacity: 1;
}

.darkThemeBtn input:not(:checked)+label svg.sun {
  opacity: 1;
}

.darkThemeBtn input:not(:checked)+label svg.moon {
  opacity: 0;
}

.darkThemeBtn input:checked~span {
  background-color: #16174b;
}

.loginbtn {
  background: none;
  color: #486c98;
  padding: 0.5rem 1rem;
  /* Add padding for better appearance */
  text-decoration: none;
  /* Remove underline from text */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Shadow to create a floating effect */
  transition: color 0.3s, box-shadow 0.3s;
  /* Smooth transition for color and shadow changes */
}

/* Add hover effect */
.loginbtn:hover {
  color: white;
  /* Change text color on hover */
  background: rgba(72, 108, 152, 0.5);
  /* Optional: Light background on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  /* Enhanced shadow on hover for a more pronounced floating effect */
}

.button {
  padding-top: 5%;
  border: #ffffff;
  background-color: inherit;
  font-family: sans-serif;
  font-size: medium;

}

.button:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Add hover effect */
.loginbtn:hover {
  color: white;
  /* Change text color on hover */
  background: #1173eb;
  /* Background color on hover */
  /* Optional: you can use a different color or remove this line */
}

/* .......................... */

.title-wrapper {
  display: grid;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.bitbox-title {
  color: #fff;
  font-size: clamp(3rem, 10vw, 6rem);
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.bitbox-title span {
  position: relative;
  display: inline-block;
}

.bitbox-title span:before,
.bitbox-title span:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  color: #4af7ff;
  animation: glitch-animation 2s infinite linear alternate-reverse;
}

.bitbox-title span:before {
  left: 2px;
  text-shadow: -2px 0 #165bfb;
}

.bitbox-title span:after {
  left: -2px;
  text-shadow: 2px 0 #165bfb;
}

.bitbox-title span:nth-child(1),
.bitbox-title span:nth-child(4) {
  text-transform: uppercase;
}

.bitbox-title span:nth-child(2),
.bitbox-title span:nth-child(3),
.bitbox-title span:nth-child(5),
.bitbox-title span:nth-child(6) {
  text-transform: lowercase;
}

@keyframes glitch-animation {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(2px, -2px);
  }

  50% {
    transform: translate(-2px, 2px);
  }

  75% {
    transform: translate(2px, 0);
  }

  100% {
    transform: translate(-2px, -2px);
  }
}

/* Upload Project */
.modal-backdrop {
  --bs-backdrop-zindex: 0;
}
