.Scroll-Top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    transition-duration: 0.3s;
}

.Scroll-Top.visible {
    display: block;
}

.Scroll-Top .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.Scroll-Top .svgIcon {
    width: 24px;
    transition-duration: 0.3s;
}

.Scroll-Top .svgIcon path {
    fill: white;
}

.Scroll-Top .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
}

.Scroll-Top .button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.Scroll-Top .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
}

.Scroll-Top .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}