.team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-box {
  text-align: center;
  margin: 0 20px;
}

.team-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.team-box:hover img{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.team-box h3 {
  margin-top: 10px;
}

.about {
  /* background-color: #8fbcb4; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 700px;
  min-height: 400px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
  /* box-shadow: inset 0 0 8px 2px rgb(0 0 0 / 42%); */
}

.visitors {
  /* display: flex; */
  background-color: #8fbc96;
  max-width: 300px;
  min-height: 170px;
  border-radius: 10px;
  margin: 30px auto;
  /* text-align: center; */
  padding: 10px;
  margin-bottom: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.container-bx{
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  text-align: center;
}
.visitors .about-gif img {
  width: 200px;
  height: auto; 
  border-radius: 17px;
}