.About-Sec-Container {
  padding-bottom: 2rem;
}

.About-Page1 {
  height: 75vh;
  display: flex;
  width: 100vw;
  margin: 0 2rem;
}

.About-Page1 .left-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  height: 64vh;
}

.About-Page1 .right-page {
  width: 60vw;
  margin: 1rem 3rem;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-box {
  text-align: center;
  margin: 0 20px;
  transition: 0.2s all ease-in;
}

.team-box img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.team-box:hover {
  transform: scale(1.1);
}

.team-box h3 {
  margin-top: 10px;
}

/* .info {
  margin-top: 21px;
  text-align: center;
} */

.container-bx {
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  text-align: center;
}

.about-gif img {
  width: 200px;
  height: auto;
  border-radius: 17px;
}

/* Website Record Section */

.Website-Record-Sec {
  height: 80vh;
  width: 100vw;
  background-color: black;
}

.Website-Record-Sec .container-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16% 33% 60% 40% / 0% 20% 0% 15%;
  background-image: linear-gradient(to right,
      #f78ca0 0%,
      #f9748f 19%,
      #fd868c 60%,
      #fe9a8b 100%);
  width: 100vw;
  height: 80vh;
}

.flip-card {
  background-color: transparent;
  width: 230px;
  height: 284px;
  margin: 15px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(5, 8, 12, 0.35) 0px -2px 6px 0px inset;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg,
      bisque 60%,
      rgb(255, 231, 222) 88%,
      rgb(255, 211, 195) 40%,
      rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg,
      rgb(255, 174, 145) 30%,
      coral 88%,
      bisque 40%,
      rgb(255, 185, 160) 78%);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);

}