.create-blog-container {
    max-width: 600px;
    margin: 8rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.blog-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="url"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    padding: 0.7rem;
    background-color: #005171;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}

.submit-button:hover {
    background-color: #00364b;
}