/* component/FAQ.css */

.faq-container {
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 24px; /* Decreased size */
  }
  
  .faq-item {
    position: relative;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .faq-item:hover {
    background-color: #157aac;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .faq-question {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    margin: 0;
    transition: color 0.3s;
  }
  
  .faq-question:hover {
    color: #e9e0e0; /* Change color on hover */
  }
  
  .faq-answer {
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 40px; /* Set a height to create a consistent layout */
    left: 20px; /* Maintain your left positioning */
  }
  
  
  .num {
    position: absolute;
    top: 10px; /* Adjusted positioning */
    left: -25px; /* Position for the number bubble */
    border-radius: 50%;
    background-color: #0fa2eb;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
  }
  