.welcome-page {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-color1 {
    padding: 15px 25px;
    font-weight: 600;
    color: black;
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    margin: 0 2rem;
}

.button-color1:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: rgb(49, 132, 253, );
}

.button-color2 {
    border: 2px solid black;
    padding: 15px 25px;
    font-weight: 600;
    color: black;
    border-radius: 10px;
    margin: 0 2rem;
}

.button-color2:hover {
    color: black;
}

.btn-group {
    margin: 20px 0;
}

.abut {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}
.row{
    margin: 20px;
}
.card{
    border-radius: 25px;
    height: 27pc;
}
.section-card h3{
    text-align: center;
    margin: 5px;
    padding: 6px;
    font-size: 40px;
    font-weight: 600;
}