.welcome-page {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-color1 {
    padding: 15px 25px;
    font-weight: 600;
    color: black;
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    margin: 0 2rem;
}

.button-color1:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: rgb(49, 132, 253, );
}

.button-color2 {
    border: 2px solid black;
    padding: 15px 25px;
    font-weight: 600;
    color: black;
    border-radius: 10px;
    margin: 0 2rem;
}

.button-color2:hover {
    color: black;
}

.btn-group {
    margin: 20px 0;
}

.abut {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.row {
    margin: 20px;
}

.section-card h3 {
    text-align: center;
    margin: 5px;
    padding: 6px;
    font-size: 40px;
    font-weight: 600;
}

.CARD-INFOs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.CARD-INFO-row1,
.CARD-INFO-row2 {
    display: grid;
    gap: 2rem;
}

.CARD-INFO {
    width: 30rem;
    height: 20rem;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px;
    background-color: #00ff9a;
    box-shadow: 0 0 8px 2px rgb(0 0 0 / 25%);
}

.btn-box {
    border-radius: 5px;
    width: 200px;
    color: black;
    background-color: #42c993;
    text-decoration: none;
    box-shadow: 0 0 8px 2px rgb(0 0 0 / 8%);
}

.btn-box a {
    color: black;
    margin: 5px;
    padding: 6px;
}