.uploadPro{
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

.uploadPro:hover{
    color: black;
}
.BG-color{
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}