#navbar {
    overflow: hidden;
    background-color: #a6c1ee;
    z-index: +1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.uploadPro {
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

.uploadPro:hover {
    color: black;
}