.body {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Global-Sec-Container,
.User-Sec-Container {
    background-color: #a6c1ee;
}